---
import BaseLayout from "../layouts/BaseLayout.astro";
import {
	SiReact,
	SiPreact,
	SiSvelte,
	SiVuedotjs,
	SiSolid,
} from "react-icons/si";
---

<html lang="en">
	<BaseLayout title="ðŸ">
		<h1 class="text-6xl font-bold text-secondary">Question:</h1>
		<h2 class="text-4xl">
			Who here has used one or more of these libraries?
		</h2>

		<div
			class="flex flex-row items-center justify-center w-full mx-auto gap-2 text-6xl"
		>
			<SiReact client:only="react" className="text-cyan-500" />
			<SiPreact client:only="react" className="text-purple-500" />
			<SiSvelte client:only="react" className="text-orange-500" />
			<SiVuedotjs client:only="react" className="text-green-500" />
			<SiSolid client:only="react" className="text-blue-500" />
		</div>
	</BaseLayout>
</html>
