---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="?????">
		<h1 class="text-6xl font-bold text-secondary">B-but why?</h1>
		<h2 class="text-2xl">
			Well... lets do some pros and con of Javascript in webpages:
		</h2>

		<div class="prose">
			Pros:
			<ol class="">
				<li>Interactivity</li>
				<li>App-like routing</li>
				<li>Stateful pages</li>
				<li>Dynamic rendering</li>
				<li>Probably some more idk...</li>
			</ol>
		</div>

		<div class="prose">
			Cons:
			<ol class="">
				<li>S L O W</li>
				<li>Render blocking</li>
				<li>More difficult to render on slower connections</li>
			</ol>
		</div>
	</BaseLayout>
</html>
