---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout>
		<h1 class="text-6xl font-bold">
			We've ended the Javascript <span class="text-secondary"
				>framework wars</span
			>!
		</h1>
		<img src="/frameworkwars.jpg" height="250" width="400" />
		<p>
			Turns out you can lazy load 5 frontend libraries and get a 100
			performance score on lighthouse!
		</p>
	</BaseLayout>
</html>
