---
import { SiAstro, SiQwiklabs, SiDeno } from "react-icons/si";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="😎">
		<h1 class="text-6xl font-bold">Frameworks that use Islands:</h1>
		<div
			class="flex flex-row items-center justify-center w-full mx-auto gap-2 text-6xl"
		>
			<SiAstro className="text-red-500" />
			<SiQwiklabs className="text-blue-500" />
			<SiDeno className="text-yellow-500" />
		</div>
	</BaseLayout>
</html>
