---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="🫡">
		<h1 class="text-6xl font-bold">
			Also... we can end the Javascript <span class="text-secondary"
				>framework wars</span
			>!
		</h1>
		<img src="/frameworkwars.jpg" height="250" width="400" />
	</BaseLayout>
</html>
