---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="">
		<h1 class="text-6xl font-bold">Stuff I Mentioned:</h1>

		<a href="https://astro.build">Astro</a>
		<a href="https://www.patterns.dev/posts/islands-architecture"
			>Islands Architecture</a
		>
	</BaseLayout>
</html>
