---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="">
		<h1 class="text-6xl font-bold">Stuff I Mentioned:</h1>

		<a class="link link-secondary" href="https://astro.build">Astro</a>
		<a class="link link-secondary" href="https://qwik.builder.io">Qwik</a>
		<a class="link link-secondary" href="https://fresh.deno.dev"
			>Deno Fresh</a
		>
		<a
			class="link link-secondary"
			href="https://www.patterns.dev/posts/islands-architecture"
			>Islands Architecture</a
		>
	</BaseLayout>
</html>
