---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="😃">
		<h1 class="text-6xl font-bold text-secondary">Pros</h1>

		<div class="mx-auto prose text-left text-2xl">
			<ol>
				<li>Component-based design</li>
				<li>Reactivity</li>
				<li>State management</li>
				<li>Focus on DX</li>
				<li>Useful abstractions over vanilla HTML + JS</li>
				<li>Probably some more idk...</li>
			</ol>
		</div>
	</BaseLayout>
</html>
