---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="😢">
		<h1 class="text-6xl font-bold text-secondary">Cons</h1>

		<div class="mx-auto prose text-left text-2xl">
			<ol>
				<li>Large bundles</li>
				<li>Virtual DOM overhead</li>
				<li>Client-side routing overhead</li>
				<li>Client receives blank HTML before hydration</li>
				<li>Bad SEO</li>
			</ol>
		</div>
	</BaseLayout>
</html>
