---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
    <BaseLayout title="">
        <h1 class="text-6xl font-bold">
            Oh... I guess we're done! Any questions?
        </h1>
        <p>Contact:</p>
        <a
            href="https://discordapp.com/users/83679718401904640"
            rel="me"
            target="_blank">Message me on Discord!</a
        >
        <p>
            Github: <a
                href="https://github.com/atridadl"
                target="_blank"
                rel="me">Follow me on Github!</a
            >
        </p>
        <p>Email me at <a href="mailto:me@atri.dad">me@atri.dad</a></p>
    </BaseLayout>
</html>
