---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="">
		<h1 class="text-6xl font-bold">
			Oh... I guess we're done! Any questions?
		</h1>
		<p>My Info:</p>
		<p>Atridad Lahiji</p>
		<p>Github: atridadl</p>
		<p>Email: me@atri.dad</p>
	</BaseLayout>
</html>
