---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout>
		<h1 class="text-6xl font-bold">
			The colours on each counter corresponded to a framework. The same
			application is running...:
		</h1>
		<div class="prose">
			<ol class="">
				<li>Preact</li>
				<li>React</li>
				<li>Svelte</li>
				<li>Vue</li>
				<li>and Solid!</li>
			</ol>
		</div>
	</BaseLayout>
</html>
