---
import { SiReact, SiSolid, SiSvelte, SiVuedotjs } from "react-icons/si";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="😎">
		<h1 class="text-6xl font-bold">
			Multiple UI Libraries in the same project!
		</h1>
		<div
			class="flex flex-row items-center justify-center w-full mx-auto gap-2 text-6xl"
		>
			<SiReact client:only="react" className="text-cyan-500" />
			<SiSvelte client:only="react" className="text-orange-500" />
			<SiVuedotjs client:only="react" className="text-green-500" />
			<SiSolid client:only="react" className="text-blue-500" />
		</div>
	</BaseLayout>
</html>
