---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="This is gonna be good...">
		<h1 class="text-6xl font-bold">
			<span class="text-secondary">Javascript</span> developers should ship
			<span class="text-secondary">less Javascript</span>!
		</h1>
		<!-- <h1 class="text-6xl font-bold">
			Making Javascript <span class="text-secondary">fun again</span>!
		</h1> -->

		<h2 class="text-2xl">by: Atridad Lahiji (he/they)</h2>
	</BaseLayout>
</html>
