---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">
	<BaseLayout title="👀">
		<h1 class="text-6xl font-bold">
			How to ship
			<span class="text-secondary"> less Javascript</span>!
		</h1>

		<h2 class="text-2xl">by: Atridad Lahiji (he/they)</h2>
	</BaseLayout>
</html>
